<div >
    <ul class="list-group list-group-flush" >
        <li class="list-group-item"><i class="fa fa-area-chart"></i></li>
        <li class="list-group-item"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-retweet" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-sun-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-area-chart"></i></li>
        <li class="list-group-item"><i class="fa fa-tags" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-shield" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-tablet" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-area-chart"></i></li>
        <li class="list-group-item"><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-address-book-o" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-rss-square" aria-hidden="true"></i></li>
        <li class="list-group-item"><i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
       
      </ul>
</div>